[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = git@github.com:wjbuys/oh-my-zsh.git
[submodule "home/.vim/bundle/ack.vim"]
	path = home/.vim/bundle/ack.vim
	url = http://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/align"]
	path = home/.vim/bundle/align
	url = http://github.com/tsaleh/vim-align.git
[submodule "home/.vim/bundle/arduino"]
	path = home/.vim/bundle/arduino
	url = http://github.com/vim-scripts/Arduino-syntax-file.git
[submodule "home/.vim/bundle/color-sampler"]
	path = home/.vim/bundle/color-sampler
	url = http://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "home/.vim/bundle/command-t"]
	path = home/.vim/bundle/command-t
	url = http://github.com/wincent/Command-T.git
[submodule "home/.vim/bundle/csapprox"]
	path = home/.vim/bundle/csapprox
	url = http://github.com/godlygeek/csapprox.git
[submodule "home/.vim/bundle/cucumber"]
	path = home/.vim/bundle/cucumber
	url = http://github.com/tpope/vim-cucumber.git
[submodule "home/.vim/bundle/endwise"]
	path = home/.vim/bundle/endwise
	url = http://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/gist-vim"]
	path = home/.vim/bundle/gist-vim
	url = http://github.com/mattn/gist-vim.git
[submodule "home/.vim/bundle/gitv"]
	path = home/.vim/bundle/gitv
	url = http://github.com/gregsexton/gitv.git
[submodule "home/.vim/bundle/gundo.vim"]
	path = home/.vim/bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule "home/.vim/bundle/haml"]
	path = home/.vim/bundle/haml
	url = http://github.com/tpope/vim-haml.git
[submodule "home/.vim/bundle/hammer.vim"]
	path = home/.vim/bundle/hammer.vim
	url = http://github.com/robgleeson/hammer.vim.git
[submodule "home/.vim/bundle/indent_object"]
	path = home/.vim/bundle/indent_object
	url = http://github.com/michaeljsmith/vim-indent-object.git
[submodule "home/.vim/bundle/irblack"]
	path = home/.vim/bundle/irblack
	url = http://github.com/wgibbs/vim-irblack.git
[submodule "home/.vim/bundle/jasmine"]
	path = home/.vim/bundle/jasmine
	url = http://github.com/claco/jasmine.vim.git
[submodule "home/.vim/bundle/javascript"]
	path = home/.vim/bundle/javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule "home/.vim/bundle/markdown"]
	path = home/.vim/bundle/markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "home/.vim/bundle/matchit"]
	path = home/.vim/bundle/matchit
	url = http://github.com/vim-scripts/matchit.zip.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = http://github.com/ddollar/nerdcommenter.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/rails"]
	path = home/.vim/bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/rspec"]
	path = home/.vim/bundle/rspec
	url = http://github.com/taq/vim-rspec.git
[submodule "home/.vim/bundle/scss-syntax"]
	path = home/.vim/bundle/scss-syntax
	url = http://github.com/cakebaker/scss-syntax.vim.git
[submodule "home/.vim/bundle/searchfold"]
	path = home/.vim/bundle/searchfold
	url = http://github.com/vim-scripts/searchfold.vim.git
[submodule "home/.vim/bundle/snipmate"]
	path = home/.vim/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "home/.vim/bundle/surround"]
	path = home/.vim/bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/taglist"]
	path = home/.vim/bundle/taglist
	url = http://github.com/vim-scripts/taglist.vim.git
[submodule "home/.vim/bundle/textile"]
	path = home/.vim/bundle/textile
	url = http://github.com/timcharper/textile.vim.git
[submodule "home/.vim/bundle/unimpaired"]
	path = home/.vim/bundle/unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "home/.vim/bundle/vim-coffee-script"]
	path = home/.vim/bundle/vim-coffee-script
	url = http://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/vim-repeat"]
	path = home/.vim/bundle/vim-repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "home/.vim/bundle/vim-ruby"]
	path = home/.vim/bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle/vim-textobj-rubyblock"]
	path = home/.vim/bundle/vim-textobj-rubyblock
	url = http://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "home/.vim/bundle/vim-textobj-user"]
	path = home/.vim/bundle/vim-textobj-user
	url = http://github.com/kana/vim-textobj-user.git
[submodule "home/.vim/bundle/vividchalk"]
	path = home/.vim/bundle/vividchalk
	url = http://github.com/tpope/vim-vividchalk.git
[submodule "home/.vim/bundle/wikipedia"]
	path = home/.vim/bundle/wikipedia
	url = http://github.com/vim-scripts/wikipedia.vim.git
[submodule "home/.vim/bundle/zoomwin"]
	path = home/.vim/bundle/zoomwin
	url = http://github.com/vim-scripts/ZoomWin.git
[submodule "home/.vim/bundle/tlib_vim"]
	path = home/.vim/bundle/tlib_vim
	url = http://github.com/tomtom/tlib_vim.git
[submodule "home/.vim/bundle/vim-addon-mw-utils"]
	path = home/.vim/bundle/vim-addon-mw-utils
	url = http://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "home/.vim/bundle/snipmate-snippets/snippets"]
	path = home/.vim/bundle/snipmate-snippets/snippets
	url = http://github.com/scrooloose/snipmate-snippets.git
