#!/bin/bash
alias v='vim -c NERDTree'
alias gv='gvim -c NERDTree'

alias ll='ls -lAh'
alias l='ls -CF'

alias pl='ps axf | less'
alias :q=exit

# Always use 256-color tmux
alias tmux='tmux -2'

alias tnew="TMUX= tmux new-session -d -s"
alias trename="tmux rename-session"

alias be="bundle exec"
alias bi="bundle install"
alias bu="bundle update"
alias bc="bundle console"

alias ins="sudo aptitude install -y"
alias search="aptitude search"

alias b="bookmark"

irb() {
  echo "Stop! Why not use pry instead?"

  if which pry
  then
    pry
  else
    echo "... because it's not installed :'("
    command irb
  fi
}

go() {
  eval "cd $( $HOME/bin/bookmark $1 )"
}

gd() {
  cd "$( $HOME/bin/bookmark $1 )"
}

td() {
  tmux set default-path ${1:-$(pwd)}
}

bundle_commands=( rake spec rspec cucumber cap watchr rails rackup )
 
function run_bundler_cmd () {
    if [ -r ./Gemfile ]; then
        bundle exec $@
    else
        $@
    fi
}
 
for cmd in $bundle_commands
do
    alias $cmd="run_bundler_cmd $cmd"
done

if [ -f ~/.aliases.local ]; then
    source ~/.aliases.local
fi
