#!/bin/bash
alias ll='ls -lAh'
alias l='ls -CF'

alias :q=exit

# Always use 256-color tmux
alias tmux='tmux -2'

alias g=git

extract() {
  if [ -f $1 ] ; then
    case $1 in
      *.tar.bz2) tar xjvf $1 ;;
      *.tar.gz) tar xzvf $1 ;;
      *.bz2) bunzip2 $1 ;;
      *.rar) rar x $1 ;;
      *.gz) gunzip $1 ;;
      *.tar) tar xf $1 ;;
      *.tbz2) tar xjvf $1 ;;
      *.tgz) tar xzvf $1 ;;
      *.zip) unzip $1 ;;
      *.Z) uncompress $1 ;;
      *.7z) 7z x $1 ;;
      *) echo "'$1' cannot be extracted via extract-file" ;;
    esac
  else
    echo "'$1' is not a valid file"
  fi
}
alias x=extract

td() {
  tmux set default-path ${1:-$(pwd)}
}

apt-update-repo() {
  for source in "$@"; do
    sudo apt-get update \
      -o Dir::Etc::sourcelist="sources.list.d/${source}.list" \
      -o Dir::Etc::sourceparts="-" \
      -o APT::Get::List-Cleanup="0"    
  done
}

alias t="tree --filelimit 10"
alias ta="t -a"

if [ -f ~/.aliases.local ]; then
    source ~/.aliases.local
fi
